# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3

# Environment variables / secrets
.env
.env.*        # variantes como .env.dev, .env.prod
*.secret

# Virtualenv
venv/
env/
ENV/
.venv/
.Python

# Distribution / packaging
build/
dist/
pgdata/
*.egg-info/
.eggs/
*.whl

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Postgres local data (no subir)
*.db
*.backup

# Logs
logs/
*.log

# Coverage reports
htmlcov/
.coverage
.coverage.
