# Django environment values

SECRET_KEY=762dc3552dde90a4b860e39cf86a0643f9ab6155484e26920eb4ef13a8de896f
DEBUG=0
ALLOWED_HOSTS=['*']
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=devdb
SQL_USER=devuser
SQL_PASSWORD=secret
SQL_HOST=db
SQL_PORT=5432

